<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!-- Config Sections -->
    <configSections>
        <section name="cacheClientSettings" type="Dache.Client.Configuration.CacheClientConfigurationSection, Dache.Client" />
    </configSections>
    <!-- Cache Client Settings -->
    <cacheClientSettings>
        <cacheHosts>
            <add address="localhost" port="33333" />
        </cacheHosts>
    </cacheClientSettings>
</configuration>
