<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Config Sections -->
  <configSections>
    <section name="cacheClientSettings" type="Dache.Client.Configuration.CacheClientConfigurationSection, Dache.Client"/>
  </configSections>
  <!-- Cache Client Settings -->
  <cacheClientSettings hostReconnectIntervalSeconds="10" localCacheMemoryLimitPercentage="20" localCacheAbsoluteExpirationSeconds="3600">
    <cacheHosts>
      <add address="localhost" port="33332"/>
      <add address="localhost" port="33333"/>
    </cacheHosts>
  </cacheClientSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
