                <div id="topBox" class="centered" style="width: 974px; height: 11px; background: url('/images/content-top.png') no-repeat;">
                </div>
                <div id="middleBox" class="centered" style="color: #1e282e; width: 974px; background: url('/images/content-sides.png') repeat-y; text-align: justify; line-height: 22px;">
                    <div class="centered" style="padding-left: 92px; padding-right: 92px; padding-top: 20px; padding-bottom: 20px;">
                        <div class="fullWidth" style="font-weight: bold; font-size: 31px; color: #262a2d; text-align: center; vertical-align: middle; height: 250px; padding-top: 190px;">
                            <div style="margin-bottom: 20px;">
                                Whoops!
                            </div>
                            The page that you requested does not exist.
                        </div>
                    </div>
                </div>
                <div id="bottomBox" class="centered" style="width: 974px; height: 11px; background: url('/images/content-bottom.png') no-repeat; margin-bottom: 15px;">
                </div>
