<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!-- Config Sections -->
    <configSections>
        <section name="cacheHostSettings" type="Dache.CacheHost.Configuration.CacheHostConfigurationSection, Dache.CacheHost" allowExeDefinition="MachineToApplication" />
    </configSections>
    <!-- Cache Host Settings -->
    <cacheHostSettings port="33333" maximumConnections="20" cacheMemoryLimitPercentage="85" />
</configuration>
