<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!-- Config Sections -->
    <configSections>
        <section name="cacheHostSettings" type="Dache.CacheHost.Configuration.CacheHostConfigurationSection, Dache.CacheHost" allowExeDefinition="MachineToApplication"/>
    </configSections>
    <!-- Cache Host Settings -->
    <cacheHostSettings port="33333" cacheMemoryLimitPercentage="85"/>
    <!-- Example Cache Host Settings for GZip support at host -->
    <!-- cacheHostSettings port="33333" cacheMemoryLimitPercentage="85" storageProvider="Dache.CacheHost.Storage.GZipMemCache, Dache.CacheHost" /-->
    <!-- Server Mode GC -->
    <runtime>
        <gcServer enabled="true"/>
    </runtime>
</configuration>
