<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="cacheHostSettings" type="Dache.CacheHost.Configuration.CacheHostConfigurationSection, Dache.CacheHost" allowExeDefinition="MachineToApplication" />
    </configSections>
    <cacheHostSettings port="33333" />
</configuration>
