<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!-- Config Sections -->
    <configSections>
        <section name="cacheHostSettings" type="Dache.CacheHostService.Configuration.CacheHostConfigurationSection, Dache.CacheHostService" allowExeDefinition="MachineToApplication" />
    </configSections>
    <!-- Cache Host Settings -->
    <cacheHostSettings port="33333" maximumConnections="20" cacheMemoryLimitPercentage="85" />
    <!--
    Example Cache Host Settings for GZip of all cached objects 
    <cacheHostSettings port="33333" maximumConnections="20" cacheMemoryLimitPercentage="85" storageProvider="Dache.CacheHost.Storage.GZipMemCache, Dache.CacheHost"/>
    -->
</configuration>
